body{
    background-color: rgb(209, 204, 204);
    color: rgb(29, 13, 177);
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
  }
  
  .btn-container{
    background-color: #7dbbe4;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%;
  }
  
  .name-container{
    padding-top: 3rem;
    font-size: 1.5rem;
  }
  
  button{
    background-color: #4379dd;
    padding: 1.75rem;
    font-size: 3rem;
    border-style: none;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px blue;
  }
  
  button:hover{
    background-color: #6f98f1;
  }